.services-container {
  padding: 1rem 5%;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  background-color: aliceblue;
  flex-wrap: wrap;
  font-size: large;
}
.services-items {
  flex: 3;
  padding: 0 1rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-items, .added-items, .book {
  background-color: white;
  border-radius: 10px;

}
.services-container h3 {
  text-align: center;
  margin: 1rem;
  font-size: x-large;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
  justify-content: space-between;
}
.item {
  display: grid;
  gap: 5px;
  grid-template-columns: 2fr 1fr;
}
.item p {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.services-content {
  flex: 2;
  display: grid;
  gap: 1rem;
}
.added-items {
  display: flex;
  flex-direction: column;
}
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 150px;
  overflow-y: auto;
  padding: 10px 0;
}
.cart-items::-webkit-scrollbar {
  display: none;
}
.upper-col {
  background-color: aliceblue;
}
.item-col {
  box-shadow: 0px 1px 2px gray;
  background-color: rgb(246, 243, 240);
  margin: 0 15px;
  border-radius: 5px;
}
.item-col-tot {
  display: flex;
  background-color: rgb(201, 234, 234);
  padding: 10px;
  margin: 0.5rem;
  border-radius: 5px;
  justify-content: space-between;
}
.upper-col, .item-col {
  display: grid;
  gap: 1rem;
  padding: 5px;
  align-items: center;
  grid-template-columns: 0.5fr 2fr 1fr;
}
.book {
  display: grid;
  gap: 10px;
  padding: 1rem;
}
.book input {
  padding: 5px;
  font-size: medium;
}
.book h4 {
  margin: 0 0 10px 0;
  font-size: x-large;
}
.book div {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.book-btn {
  background-color: rgb(93, 93, 235);
  color: #fff;
  padding: 10px;
}
.add-btn {
  padding: 5px;
  font-size: large;
  background-color: rgb(32, 179, 32);
}
.remove-btn {
  padding: 5px;
  font-size: large;
  background-color: red;
}
.s-t {
  font-size: smaller;
  margin: 1rem 0;
  color: rgb(78, 78, 246);
}
.no-cart {
  padding: 0 1rem;
  text-align: center;
}
.no-cart h6 {
  font-size: large;
}
.big-icon {
  font-size: 300%;
}
@media only screen and (width < 450px) {
  .services-container {
    padding: 1rem 10px;
  }
  .services-items {
    padding: 0 10px;
  }
}
@media (width < 767px) {
  .services-container {
    font-size: medium;
    padding: 1rem;
  }
}